.home-background-image {
  background-image: url("https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 460px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form-content {
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 10px;
}

.dropdown-content {
  color: black;
}

.submit-btn {
  border-radius: 50px;
  padding: 5px 10px;
}
