<form>
  <div class="form-group">
    <label for="minimum">Min</label>
    <input type="price" class="form-control" id="minprice" aria-describedby="minprice">
  </div>
  <div class="form-group">
    <label for="maximum">Max</label>
    <input type="price" class="form-control" id="maxprice" aria-describedby="maxprice">
  </div>
</form>
