<h1><%= @user.username %></h1>

<% dates = @user.slots.map {|slot| slot.date} %>


<%= month_calendar do |date| %>
  <%= date %>
  <% if dates.include?(date) %>
      <%= link_to  "available", new_order_path %>
    <% end %>
<% end %>
