<h1><%= @user.username %></h1>

<div id="calendar">
  <%= calendar do |date| %>
    <%= date.day %>
    <% if @user.slots.date[date] %>
      <%= link_to  "book", orders_new_path %>
    <% end %>
  <% end %>
</div>
