<div class="card w-100 bg-secondary">
  <div class="card-body">
    <h5 class="card-title">Order <%= order.id %>: Session with <%= order.slot.user.username %></h5>
    <p class="card-text text-left"><%= order.duration %> hours</p>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
