<div class="container mt-3 mx-auto text-center">
  <h1>congrats!</h1>
  <h3>your order has been confirmed</h3>
  <a class="btn btn-primary" href=<%="/#{@order.slot.user.username}"%>>book more slots</a>
</div>
