<div class='home-background-image'>
  <h2 class="text-center">I want to go pro in</h2>
  <form action="/coaches">
    <div class="form-custom">
      <div>
        <select name="filter_game", class="form-content">
          <% @games.all.each do |game| %>
            <option value="<%= game.name %>", class="dropdown-content"><%= game.name %></option>
          <% end %>
        </select>
      </div>
      <input type="submit", class="btn-primary submit-btn", value="Find your coach">
  </form>
</div>
