<h1>Pages#home</h1>

<%= form_with url: "/coaches", method: :get do |form| %>
  <%= form.label :filter_game, "Search for:" %>
  <%= form.select :filter_game,  @games.all.map(&:name) %>
  <%= form.submit "Search" %>
<% end %>
