<h1>Pages#home</h1>

<%= simple_form_for @game , users_path(@game) do |f| %>
  <%= f.input :game, collection: ["League of Legends", "Valorant", "Dota 2", "Fortnite"] %>
  <%= f.button :submit, "Find My Coach", class: "my-button" %>
<% end %>
