<h1>Pages#home</h1>
<%= simple_form_for @game, url: 'coaches', method: "GET" do |f| %>
  <%= f.input :id, collection: @games %>
  <%= f.button :submit, "Find My Coach", class: "btn btn-primary" %>
<% end %>
