.custom-text h3 {
  color:black;
  font-size: 25px;
}

.custom-text p {
  color: black;
  font-size: 17px;
  text-align: center;
}

.custom-text .btn-center-custom {
  text-decoration: none;
  align-content: center;
}
.btn-margin {
  bottom: 20px;
  right: 20%;
  left: 20%;
  margin-bottom: 16px;
  margin-top: auto;
  text-align: center;
}
